* {
  box-sizing: border-box;
}

body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  background-color: #f6f7fb;
  overflow: hidden;
  margin: 0;
}

main {
  width: 90vw;
  height: 80vh;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ball{
  text-align: center;
  background-color: #fff;
  margin: 30px 0;
  border-radius: 50%;
  width: 30px;
  padding: 0.2rem;
  color: #999;
  border: 3px solid #E5E5E5;
}

.progress-ball.active{
  border: 3px solid #3498DB;
}

.progress-line{
  border: 3px solid #E5E5E5;
  width: 100px;
  height: 1px;
}

.progress-line.active{
  border: 3px solid #3498DB;
  width: 100px;
  height: 1px;
}

.btn{
  border: 0px;
  background-color: #3498DB;
  border-radius: 8px;
  padding: 0.7rem;
  color: white;
  width: 6rem;
  margin: 8px;
  cursor: pointer;
}

